<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <% include ../partials/nav.ejs%>

    <div style="margin-top:55px">
      <h2>User Profile</h2>
      <form
        method="get"
        action="/profile/edit_profile"
        style="margin-left: 83.5%"
      >
        <button type="submit" class="btn btn-dark" style="width:200px">
          Edit
        </button>
      </form>
      <div class="card text-white bg-dark mb-3" style="margin: 5px 20px 20px;">
        <div class="card-header"><%=user.Name%></div>
        <div class="card-body">
          <p class="card-text">Username: <%=user.Username%></p>
          <p class="card-text">Email: <%=user.Email%></p>
          <p class="card-text">Phone: <%=user.Phone%></p>
          <p class="card-text">Bdate: <%=user.Bdate%></p>
          <p class="card-text">Address: <%=user.Address%></p>
          <p class="card-text">Role: <%=user.Role%></p>
          <%if(user.Role === "Broker"){%>
          <form method="get" action="/broker">
            <button type="submit">Admin Page</button>
          </form>
          <%}%>
          <%if(user.Role === "Owner"){%>
            <form method="get" action="/owner">
              <button type="submit">Owner Page</button>
            </form>
          <%}%>
        </div>
      </div>
      <%if(user.Role === "Broker"){%>
      <form method="get" action="/broker" style="margin-left: 20px">
        <button type="submit" class="btn btn-dark">Admin Page</button>
      </form>
      <%}%> <%if(user.Role ==="Customer"){%>
      <form method="get" action="" style="margin-left: 20px">
        <button type="submit" class="btn btn-dark">Upgrade to owner??</button>
      </form>
      <%}%>
      <form
        method="get"
        action="/profile/logout"
        style="margin-left:20px; margin-top: 5px"
      >
        <button type="submit" class="btn btn-dark">Logout</button>
      </form>
    </div>
  </body>
</html>
