<!DOCTYPE html>
<html>
    <head>
        <title>Reservations</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <% include ../partials/nav.ejs %>

    <div>
        <ul>
            <% for(var i=0; i<reservations.length ;i++){ %>
                <li>
                    <div id="<%reservations.id%>">
                        <h3>Reservation</h3>
                        <div>
                            <p><%=reservations[i].roomnumber%></p>
                            <p><%=reservations[i].hotelbranch%></p>
                        </div>
                        <form method="post" name="Approve" action="<%=reservations[i].hotelbranch%>/<%=reservations[i].id%>/approve">
                            <button type="submit" class="btn">Approve</button>
                        </form>
                        <form method="post" name="Deny" action="<%=reservations[i].hotelbranch%>/<%=reservations[i].id%>/deny">
                            <button type="submit" class="btn">Deny</button>
                        </form>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
    </body>
</html>